[submodule "themes/colorized"]
	path = themes/colorized
	url = https://git.colorized.life/demo.colorized.life.git
[submodule "themes/anemone"]
	path = themes/anemone
	url = https://github.com/Speyll/anemone.git
