// Color palettes
$palettes: (
  tokyonight: (
    bg: #1a1b26,
    fg: #a9b1d6,
    comment: #565f89,
    blue: #7aa2f7,
    cyan: #7dcfff,
    green: #9ece6a,
    orange: #ff9e64,
    red: #f7768e,
    yellow: #e0af68,
    magenta: #bb9af7,
  ),
  tokyostorm: (
    bg: #24283b,
    fg: #a9b1d6,
    comment: #565f89,
    blue: #7aa2f7,
    cyan: #7dcfff,
    green: #9ece6a,
    orange: #ff9e64,
    red: #f7768e,
    yellow: #e0af68,
    magenta: #bb9af7,
  ),
  tokyomoon: (
    bg: #222436,
    fg: #c8d3f5,
    comment: #636da6,
    blue: #82aaff,
    cyan: #86e1fc,
    green: #c3e88d,
    orange: #ff966c,
    red: #ff757f,
    yellow: #ffc777,
    magenta: #c099ff,
  ),
  tokyoday: (
    bg: #e6e7ed,
    fg: #343b58,
    comment: #6c6e75,
    blue: #2959aa,
    cyan: #0f4b6e,
    green: #385f0d,
    orange: #965027,
    red: #8c4351,
    yellow: #8f5e15,
    magenta: #5a3e8e,
  ),
  anemone: (
    bg: #222529,
    fg: #d6d6d6,
    comment: #dbd5bc,
    blue: #87c9e5,
    cyan: #78b6ad,
    green: #a3c9a3,
    orange: #e2aea2,
    red: #d26878,
    yellow: #dbc074,
    magenta: #c9a0dc,
  ),
  anemone-dark: (
    bg: #1c1f20,
    fg: #cecbc3,
    comment: #d4cdaf,
    blue: #81c6e4,
    cyan: #7fbab1,
    green: #9ec69e,
    orange: #dfa497,
    red: #d46e7d,
    yellow: #dbc175,
    magenta: #c497d9,
  ),
);
